h1{
    color: blueviolet;
    font-family: Verdana, sans-serif;
    text-indent: 120 px;
}

h2{
    text-decoration-line: underline;
    color: yellow;
}

h3{

    font-family: Arial, Helvetica, sans-serif;
    font-size: 4em;
}

h4{
    text-transform: lowercase;
}

h5{
    text-align: right;
}

h6{

    text-shadow: 2px 2px 2px turquoise;
    font-size: 2em;
}