html{

	scroll-behavior: smooth;
}

body{

    background-color: yellow;
}

#elemento_h1{

    color: green;
    text-align: center;
}

#elemento_h2{
    color: red;
    text-align: right;
}

#elemento_h3{
    color: violet;
    text-align: left;
}

#elemento_b{
    color: darkolivegreen;
}

#elemento_em{
    color: chocolate;
}

#elemento_strong{
    color: darkred;
}

#elemento_sub{
    color: brown;
}

#elemento_sup{
    color: chartreuse;
}

#elemento_mark{
    color: white;
    background-color: blue;
}

#secao1{
    display: inline-block;
}

#secao2{
    display: inline-block;
}

#secao3{

    display: inline-block;
}